body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active_nav{
  color:  red;
  border-bottom: 1px solid rgb(28, 73, 172);
}

.menu{
  width: 100%;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
}
.search{
  margin: 15px;
  display: flex;
  justify-content: center;
}
.search input{
  padding: 7px 5px;
  font-size: 1.2rem;
}
.searchimage{
  display: flex;
  justify-content: center;
}